<% provide(:title, 'Home Page') %>
<table>
  <tr>
    <th>Game Name</th>
    <th>AppID</th>
    <th>Total playtime</th>
  </tr>
  <%# @games.each do |game| %>
    <!-- <tr>
      <td><%# game.name %></td>
      <td><%# game.appid %></td>
      <td><%# game.playtime_forever %></td>
    </tr> -->
  <%# end %>
</table>
