<% provide(:title, 'Home Page') %>

<%= link_to "Update Game List", update_game_path %>

<table>
  <tr>
    <th>Game Name</th>
    <th>Total playtime</th>
  </tr>
  <% @games.each do |game| %>
    <tr>
      <td><%= game.metagame.name %></td>
      <td><%= game.playtime %></td>
    </tr>
  <% end %>
</table>
