<% provide(:title, 'Sign Up') %>
<h1>Sign Up</h1>

<div class="row">
  <div class="span6">
    <%= form_for @user, controller: 'users', action: 'create' do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
    <p>If you already have an account, <%= link_to "Log In", login_path %></p>
  </div>
</div>
